.register{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./bg.png);
  background-size: cover;
  
}


@media (max-width: 576px) {
  /* Styles for extra small devices (phones) */
  .regcont {
    height: 70%;
    width: 50%; 
  
    justify-content: center;
  }
}
 @media  (min-width:576px) and(max-width:768px) {
  .regcont{
    width: 45%;
    height: 60%;
    justify-content: center;

  }
  
 }

 @media (min-width:769px) and (max-width:992px) {
          .regcont{
            width: 45%;
            height: 60%;
            justify-content: center;
          }    

        }
@media (max-width:993px) {
  .regcont{
    width: 50%;
    height: 50%;
  }
  
}


  