/* styles.css */
.centercarousel{
  display: flex;
  justify-content: center;
  width: 100%;

}


@media screen  and (min-width:1023){
  .centercarousel{
    display: flex;
    justify-content: center;
    width: 80%;
  }
  
}
  